body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}
.header {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.login-cadastro a {
  text-decoration: none; /* Remove sublinhado dos links */
  color: #333; /* Cor do texto */
  font-size: 18px; /* Tamanho da fonte */
  margin-right: 10px; /* Espaço à direita entre os links */
  padding: 5px 10px; /* Espaçamento interno para destacar os links */
  border: 2px solid #333; /* Borda sólida */
  border-radius: 5px; /* Borda arredondada */
  transition: background-color 0.3s, color 0.3s; /* Transição suave de cores */
  display: inline-block; /* Adicionado para tornar os links clicáveis */
  cursor: pointer; /* Adicionado para mostrar o cursor de clique */
}

/* Estilizando o hover dos links */
.login-cadastro a:hover {
  background-color: #333; /* Cor de fundo ao passar o mouse */
  color: #fff; /* Cor do texto ao passar o mouse */
  transition: background-color 0.3s, color 0.3s; /* Manter a transição suave */
}

/* Estilo opcional para o reloginho ficar mais à esquerda */
.header > div:first-child {
  margin-left: 20px;
}
.header > div:first-child {
  font-size: 24px; /* Tamanho da fonte */
  color: #333; /* Cor do texto */
  font-weight: bold; /* Negrito */
  text-transform: uppercase; /* Transforma o texto em maiúsculas */
  margin-left: 20px; /* Espaço à esquerda */
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.riscos {
  position: relative;
  width: 300px;
  height: 300px;
  border: 10px solid #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.risco {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.ponto {
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  margin-top: -5px;
}

.ponteiros {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p {
  position: absolute;
  bottom: 50%;
  background-color: #333;
  border-radius: 10px;
  transform-origin: bottom;
}

.p_s {
  width: 2px;
  height: 140px;
}

.p_m {
  width: 4px;
  height: 110px;
}

.p_h {
  width: 6px;
  height: 80px;
}

.encaixe {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
  transform: translate(-50%, 50%);
}

.digital {
  margin-top: 20px;
  font-size: 24px;
  color: #333;
}

footer {
  margin-top: 30px;
  color: #333;
}
